snippet example_proto_file
	syntax = "proto3";
	package routeguide;

	service RouteGuide {
	  rpc GetFeature(Foo) returns (Bar) {}
	  rpc ListFeatures(Foo) returns (stream Bar) {}
	  rpc ClientUploadStream(stream Foo) returns (Foo) {}
	  rpc BidiStream(stream Foo) returns (stream Bar) {}
	}

	message Foo {
		string foo01; 
	}

	message Bar {
		string bar01; 
	}
