snippet tail-recursion
	def sum(f: Int => Int, a: Int, b: Int): Int = { 
		def loop(a: Int, acc: Int) : Int = { 
			if (a < b) acc
			else loop(f(a) + loop(a+1, b))
		}
		loop(a, 0)
	}


snippet pr
	println($1)$0

snippet objectfactory
	object IdFactory {
	  private var counter = 0
	  def create(): Int = {
		counter += 1
		counter
	  }
	}

